.ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: 1px;
    text-align:left;
    font-size:18px;
    background-color: #5b97c1;	
    text	        
}

    .ui-autocomplete-loading {
    background: white url("images/gifs/ui-anim_basic_16x16.gif") right center no-repeat;
}
		    
.ui-menu-item
{
    	padding-top : 3px;
	    padding-bottom: 3px;
}

#headingCity
{
	font-weight: bolder;
	font-size: 14px;
}

#headingSub
{
	font-weight: bold;
	font-size: 14px;
}

.citySearchBar
{
	max-width: 100%;
}

.mainNavList 
{
	background: #fcf392;
}

.geoPageHeaders
{
	background: #5b97c1;
}